.verification-container {
  gap: 2.5rem;
  justify-items: center;
}
.verify-input {
  gap: 1rem;
  justify-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1.5rem 0rem;
  width: 400px;
}
.verify-input h3 {
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--font-size-sm);
}
.verify-input p {
  color: var(--text-color2);
  font-weight: 500;
  font-size: var(--font-size-sm);
  text-align: center;
}
.img-input {
  display: grid;
  align-items: center;
  border: none;
  outline: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--font-size-sm);
}

.Button {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 425px) {
  .verify-input {
    width: 100%;
  }
  .Button {
    justify-content: center;
  }
}

.video-element {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.camera {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.camera-container {
  position: absolute;
  z-index: 1;
  top: 56vh;
  translate: -50%;
  left: 50%;
  right: 0;
  bottom: 0;
}
