.application-info{
    padding: 1rem;
    gap: 2rem;
}

.application-info p{
    font-size: var(--font-size-nr);
    font-weight: 400;
    color: var(--text-color2);
}
.application-infos{
    grid-template-columns:1fr;
    gap: 1rem;
}
.actions {
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: .25rem;
    padding: .5rem;
}