.profile-card{
    grid-template-columns: repeat(2,max-content);
    gap: 1rem;
    padding: .75rem;
}
.profile-img img{
    width: 6rem;
    height: 6rem;
}
.profile-card-id{
    gap: .25rem;
}
.profile-card-id p{
    font-size: 1.15rem;
    margin-top: 1rem;
}
.profile-card-name h3{
    font-size: 1.15rem;
    font-weight: 500;
    margin-top: -.5rem;
}