.phone-cards {
  grid-template-columns: repeat(2, 1fr) ;
  justify-items: center;
  gap: 1rem;
}
.phone-skeketon{
  grid-template-columns: repeat(2, 1fr) !important;
  justify-items: center !important; 
  gap:1rem !important; 
}
.phone-card {
  justify-items: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  gap: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}
.phone-card:hover {
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.phone-logo {
  border-bottom: 1px solid #ddd;
  max-width: 3rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  padding: 0.25rem;
}
.phone-img {
  position: relative;
}
.phone-img img {
  width: 5.5rem;
  height: 7rem;
  position: relative;
  margin-bottom: 0.25rem;
}
.phone-img.empty img {
  width: 100%;
}
.phone-img.empty::after {
  content: "The picture of this device is currently unavailable";
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #8c8c8c;
  position: absolute;
  transform: translate(-27%, -75px);
  width: 245px;
}
.phone-name {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  text-align: center;
}
.price {
  font-size: var(--font-size-sm);
  font-weight: 400;
  color: var(--text-color2);
  font-family: var(--bdy-font-family);
  text-align: center;
}
.price span {
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--text-color);
  font-family: var(--bdy-font-family);
  text-align: center;
}

.pagination {
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.page {
  width: 60% !important;
  gap: 0.25rem;
}

.page-key {
  width: 1.75rem !important;
  height: 1.75rem !important;
  background: #fff !important;
  border: 1px solid #eee;
  font-size: var(--font-size-sm);
  font-weight: 600;
  color: var(--text-color);
}
.page-key:hover {
  background: #eee !important;
}

.progressbar {
  justify-content: center !important;
  width: 100% !important;
}

.progress-label {
  font-size: var(--font-size-nr) !important;
  font-weight: 600 !important;
  color: var(--text-color) !important;
}
@media screen and (max-width: 500px) {
  .phone-img.empty::after {
    width: 115px;
  }
}
@media (min-width: 650px) {
  .phone-cards {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 2rem;
  }
  .phone-skeketon{
    grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center !important;
    gap: 2rem !important;
  }
}
@media (min-width: 1200px) {
  .phone-cards {
    grid-template-columns: repeat(4, 1fr);
  }
  .phone-skeketon{
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media (max-width: 425px) {
  .phone-cards {
    /* grid-template-columns: repeat(auto-fill, 186px); */
    background: red;
    width: 100%;
  }
}
