.otpay {
  opacity: 0.4;
  pointer-events: none;
}

.labels {
  font-size: var(--font-size-nr);
  font-weight: 400;
  color: var(--text-color2);
}
.otp-input {
  padding: 0.5rem;
  gap: 0.5rem;
}
.otp-from {
  padding: 0.5rem;
}
