.table-head {
  font-family: var(--bdy-font-family) !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: var(--text-color2) !important;
}
.table-row {
  font-family: var(--bdy-font-family) !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  color: var(--text-color) !important;
}
.recent {
  opacity: 0.8;
  pointer-events: none;
}
