.eligibilty{
    padding: 1rem;
    justify-items: center;
    gap: 3rem;
}
.calculator-container{
    width: 90%;
    gap: 2rem;
}
.filter{
    color: var(--text-color2) !important;
    font-size: var(--font-size-nr);
    font-weight: 400;
}
@media (min-width:500px){
    .calculator-container{
        width: 60%;
        gap: 2rem;
    }
 }