<<<<<<< HEAD
.device-info-container{
    padding: 1rem;
    gap: 2rem;
}

.device-images{
    justify-items: center;
}


.device-detail p{
    font-size: var(--font-size-nr);
    font-weight: 500;
    color: var(--text-color);
}
.device-details{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.spec {
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: .25rem;
    padding: .5rem;
=======
.device-info-container{
    padding: 1rem;
    gap: 2rem;
}

.device-images{
    justify-items: center;
}


.device-detail p{
    font-size: var(--font-size-nr);
    font-weight: 500;
    color: var(--text-color);
}
.device-details{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.spec {
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: .25rem;
    padding: .5rem;
>>>>>>> d67a1c2f3415f50311b16434b41f1d8f69528f23
}