.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--bg-color-1);
    padding: 1rem .5rem ;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 100 !important;
}
.nav-list{
    gap: 3rem;
    display: none; 
    z-index: 100 !important;   
}
.navlink{
    font-size: var(--font-size-sm);
    font-weight: 500;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.logo-img{
    width:5rem;
    height: 2.25rem;
}
.logo-img2{
    width:2.25rem;
    height: 2.25rem;
}
.toggler{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 100!important;
}
.drop-menu{
    top: 4rem !important;
    justify-items: center !important;
    background-color: var(--skin-color) !important;
    color: var(--text-color-alt) !important;
    gap: 2rem;
    z-index: 1!important;
}
.drop-menu-list{
    justify-items: center;
    gap: 2em;
    padding: 2rem;
}
@media (min-width:960px){
    .toggler{
        display:none;
    }
    .nav-list{
        display:flex;
    }
    .navbar{
        justify-content: space-around;
    }
 }
 .logo-img{
    width:6rem;
    height: 2.25remrem;
}
.logo-img2{
    width:2.5rem;
    height: 2.25rem;
}