<<<<<<< HEAD
.info-details{
    gap: .5rem;
}
.info-details h4{
    font-size: var(--font-size-sm);
    color: var(--text-color2);
    opacity: .8;
}
.info-details p{
    font-size: var(--font-size-sm);
}
.details-container{
    gap: 1rem;
    padding:1rem;
=======
.info-details{
    gap: .5rem;
}
.info-details h4{
    font-size: var(--font-size-sm);
    color: var(--text-color2);
    opacity: .8;
}
.info-details p{
    font-size: var(--font-size-sm);
}
.details-container{
    gap: 1rem;
    padding:1rem;
>>>>>>> d67a1c2f3415f50311b16434b41f1d8f69528f23
}