<<<<<<< HEAD
.info-plan {
  justify-content: space-between;
  align-items: center;
}
.info-plan p {
  font-size: var(--font-size-sm);
}
.info-link {
  font-size: var(--font-size-sm);
  color: #e3000f;
  opacity: 0.5;
  margin-left: auto;
}
.info-link:hover {
  opacity: 0.8;
}
=======
.info-plan {
  justify-content: space-between;
  align-items: center;
}
.info-plan p {
  font-size: var(--font-size-sm);
}
.info-link {
  font-size: var(--font-size-sm);
  color: #e3000f;
  opacity: 0.5;
  margin-left: auto;
}
.info-link:hover {
  opacity: 0.8;
}
>>>>>>> d67a1c2f3415f50311b16434b41f1d8f69528f23
