.forHolder {
  width: 70%;
  height: 80vh;
  background: white;
  margin: auto;
  overflow-y: scroll;
  padding-top: 20px;
}

@media (max-width: 425px) {
  .forHolder {
    width: 90%;
  }
}
.Holder {
  height: 90vh;
  background-color: #fafafa;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.bigText {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 425px) {
  .bigText {
    font-size: 17px;
  }
}
.smallTxt {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

forHolder {
  width: 90%;
  height: 100%;
  margin-left: 20px;
  margin-top: 30px;
  font-weight: 400;
}

form {
  width: 95%;
  margin: auto;
}

forHolder p {
  line-height: 1.5;
  font-size: 16px;
}

.forHolder input {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}

.buttons button {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(88, 88, 88, 0.8);
  width: auto;
}

.buttons button:hover {
  color: rgba(88, 88, 88, 1);
}
