@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Nunito:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@400;500;600;700&display=swap");

:root {
  --bg-color-1: #fff;
  --bg-color-2: linear-gradient(90deg, #e3000f -5%, #7f070f 100%);
  --bg-color-3: linear-gradient(80deg, #222, #444);
  --body-color: #aaa;
  --skin-color: #e3000f;
  --skin-color2: #7f070f;
  --skin-color3: #474747;
  --text-color: #1d1d1d;
  --text-color2: ##8e8e8e;
  --text-color-alt: #fff;
  --text-color-alt2: #eee;
  --white-color3: #d9d9d9;
  --card-color: linear-gradient(80deg, #121212, #f19333);
  --box-shadow: 0px 1px 8px rgba(24, 24, 24, 0.08);

  --font-light: 300;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 800;

  --bdy-font-family-alt: "DM Sans", sans-serif !important;
  --bdy-font-family: "DM Sans", sans-serif;

  --font-size-bggr: 3.15rem !important;
  --font-size-bg: 2.5rem !important;
  --font-size-m: 1.5rem !important;
  --font-size-nr: 1rem !important;
  --font-size-sm: 0.875rem !important;
  --font-size-smlr: 0.75rem !important;
  --h1-size: 2.75rem !important;
  --h2-size: 1.75rem !important;
  --h3-size: 1.5rem !important;
}

body {
  font-size: var(--font-size-nr) !important;
  font-family: var(--bdy-font-family) !important;
  font-weight: 4o00;
  background: var(--bg-color-1);
  color: var(--text-color);
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box !important;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
}
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--text-color);
}
input,
button {
  font-family: var(--bdy-font-family);
  outline: none;
  border: none;
}

/*-----scroll-bar------*/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--body-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--skin-color2);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--skin-color);
}
/*-----*scroll-bar-----*/

/*-----Reuseable----*/
.section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
.main-container {
  width: 100%;
  height: 100%;
  background: var(--bg-color-1);
  min-height: 100vh;
  margin: auto;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1040px;
  margin: auto;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}
.butn {
  background: var(--skin-color);
  border: 1px solid var(--skin-color);
  color: var(--text-color-alt);
  font-family: var(--bdy-font-family);
  font-size: var(--font-size-sm);
  font-weight: 700;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
}
.butn:hover {
  background: transparent;
  border: 1px solid var(--skin-color);
  color: var(--text-color);
}
.Button {
  width: 100%;
  justify-items: center;
  margin: 3rem 0;
}
.btn-alt {
  background: white;
  border: 1px solid var(--text-color2);
  color: var(--text-color);
  font-size: var(--font-size-sm) !important;
  font-weight: 700;
  padding: 0.5rem 0.5rem !important;
  text-transform: uppercase;
}
.btn-container {
  justify-items: center;
}
.btn-alt:hover {
  background: transparent !important;
  border: 1px solid var(--text-color-alt) !important;
  color: var(--text-color-alt) !important;
}
.btn-alt2 {
  background: white;
  border: 1px solid var(--text-color-alt);
  color: var(--text-color);
  font-size: var(--font-size-sm) !important;
  font-weight: 700;
  padding: 0.5rem 0.5rem !important;
  text-transform: uppercase;
  margin: auto;
}
.btn-alt2:hover {
  background: transparent !important;
  border: 1px solid var(--text-color-alt) !important;
  color: var(--text-color-alt) !important;
}
.btns {
  background: var(--bg-color-2) !important;
  border: 1px solid var(--skin-color);
  color: var(--text-color-alt);
  font-size: var(--font-size-sm) !important;
  font-weight: 700;
  border-radius: 20px !important;
  padding: 0.5rem 4rem !important;
  text-transform: uppercase;
}
.btns:hover {
  background: transparent !important;
  border: 1px solid var(--skin-color) !important;
  color: var(--text-color) !important;
}

.title {
  margin-bottom: 2rem;
  gap: 0.5rem;
  text-align: center;
}
.title h3 {
  font-size: var(--h3-size);
  font-weight: 700;
  color: var(--text-color);
  font-family: var(--bdy-font-family);
  text-transform: uppercase;
  text-align: center;
}
.title p {
  font-size: var(--font-size-n);
  font-weight: 500;
  color: var(--text-color2);
  font-family: var(--bdy-font-family);
  text-align: center;
}
.section-title h3 {
  font-size: var(--font-size-n);
  font-weight: 700;
  color: var(--text-color);
}
.section-title p {
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--text-color2);
}
.Container {
  margin: 2rem 0;
  gap: 3rem;
  padding: 1.5rem;
}
.Container2 {
  margin: 4rem 0;
  gap: 3rem;
}
.Container3 {
  margin: 4rem 0;
  gap: 3rem;
  padding: 1.5rem;
}

/*------Breadcrumbs----*/
.section-head {
  padding: 3rem 2rem;
  row-gap: 3rem;
}
.hero-section {
  gap: 1rem;
  margin-bottom: 1rem;
}
.hero-icon {
  padding: 0.5rem;
  background: var(--skin-color);
  border: 1px solid var(--skin-color);
  justify-content: center;
  align-items: center;
  max-width: 2rem;
  color: var(--text-color-alt) !important;
}
.hero-icon:hover {
  background: transparent;
  border: 1px solid var(--skin-color);
  color: var(--text-color) !important;
}
.heroicon {
  font-size: var(--font-size-n);
}
.hero-title {
  font-size: var(--font-size-n);
  font-weight: 600;
  color: var(--text-color2);
  text-align: center;
}

.breadcrumb-container {
  margin: 4rem auto 2rem;
  padding: 2rem 2rem;
  background: #eee;
}
.breadcrumb {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.25rem;
}
.breadcrumbItem {
  padding: 0.35rem 0.65rem;
  background: var(--body-color);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--skin-color);
  color: var(--text-color);
}
.isCurrentPage {
  background: var(--skin-color) !important;
  color: var(--text-color-alt) !important;
}
.breadcrumbLink {
  font-size: var(--font-size-n);
  font-weight: 700;
  text-decoration: none;
}
.seperator {
  height: 0.25rem;
  width: 100%;
  background: var(--body-color);
}
.blur {
  opacity: 0.5;
}

/*------Breadcrumbs----*/

@media (min-width: 780px) {
  .Container {
    padding: 0 5rem;
    max-width: 100%;
    margin: 5rem 0;
  }

  .btns {
    padding: 0.65rem 3rem !important;
  }
}
@media (min-width: 960px) {
  * {
    font-size: 16px;
  }
  
  .Container3 {
    padding: 0 5rem;
    max-width: 85%;
    margin: 6rem auto;
  }
  .section-header {
    padding: 3rem 0rem 1rem;
    row-gap: 3rem;
  }
  .Container2 {
    padding: 0rem;
    max-width: 100%;
    margin: 6rem auto;
  }
  .breadcrumb-container {
    margin: 4rem auto 2rem;
    padding: 2rem 5rem;
    background: #eee;
  }
}
